body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand {
  color: #df3ca6;
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

.btn {
  font-size: 13px;
}

.btn-primary,
.bg-primary {
  background-color: #df3ca6 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #df3ca6;
  opacity: 0.9;
}

.btn-secondary {
  background-color: #7430f9;
}

.btn-secondary:hover {
  background-color: #7430f9;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 0;
}

.project-description:hover {
  border-width: 0;
  color: #df3ca6;
  /* font-size: large; */
}

/* .project-name  a, */
.project-name {
  display: flex;
  flex-flow: row wrap;
  column-gap: 2px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.project-name a {
  display: inline-block;
  padding: 5px;
  /* word-wrap: break-word; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.project-name a:link,
.project-name a:visited {
  text-decoration: none;
  color: black;
}

.project-name a:hover {
  color: #df3ca6;
}

.project-status {
  /* max-width: 50%; */
}

.small {
  font-size: 10px;
}

textarea {
  resize: none;
}

[class*="btn-outline-"] {
  margin: 3px;
  padding: 3px;
}
.card-body {
  display: flex;
  flex-direction: colum;
  justify-content: start;
  align-items: center;
  padding: 1px;
}
.card-footer {
  display: flex;
  justify-content: center;
  padding: 3px;
}
